body{
    background-image:url(https://rh.sfiec.org.br/assets/img/Banner-Site-2---RH.jpg);
    background-size:100%;
    font-family: Verdana;
    background-opacity:0.7;
}

div{
    height:285px;
    width:450px;
    background-color:white;
    border-radius:20px;
    display:block;
    color: black;
    text-align:center;
    margin:15px;
    margin-left:400px;
    box-shadow: 5px 5px 10px;
}
label{
    font-weight: bold;
    
    
}
input{
    margin:10px;
    height:18px;
}
button{
    width:100px;
    height: 40px;
    border-radius:100px;
}
form{
    border-radius:50%;
    align-items:center;


}
.logo{
    margin-left:530px;

}
th{
    padding: 54px;
    padding-top:0px;

}
.id{
    padding:14px;
}
.name{
    padding:-2px;
}
.sex{
    padding:1px;
}
button {
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #2980b9;
}

button:active {
    background-color: #1f69a5;
}
.bt{
    height:50px;
    margin-bottom:4px;
}
.bt2{
    margin-top:12px;
}
.img{
    opacity:0.1;
    margin-left:100px;
    margin-bottom:100px;
}